[Unit]
Description=HTTP Proxy Server Service
After=network.target
[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStartPre=/bin/sh -c 'ulimit -n 65536'
ExecStart=/bin/sh -c 'export RUST_LOG=error && exec /root/http-proxy-server > /root/proxy.log 2>&1'
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target